Source: vermont
Section: contrib/net
Priority: optional
Maintainer: Vyatta Support <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9),
 dh-systemd,
 cmake,
 pkg-config,
 libboost-dev,
 libboost-regex-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-thread-dev,
 libboost-test-dev,
 libpcap-dev,
 libxml++2.6-dev,
 libsctp-dev,
 dpkg-dev (>= 1.16.1~),
 libczmq-dev,
 libsystemd-dev,
 libvrfmanager-vyatta-dev,
 bvnos-linux-libc-dev
Standards-Version: 3.9.8
Homepage: https://github.com/tumi8/vermont/wiki

Package: vermont
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser,
 lsb-base (>= 3.0-6),
Description: VERsatile MONitoring Toolkit for processing network flow data
 Vermont (VERsatile MONitoring Toolkit) is an open-source software toolkit
 for the creation and processing of network flow data, based on monitored
 Internet packet data. The IETF standard IPFIX (IP Flow Information eXport)
 defines the formats and procedures for handling these flows. Furthermore,
 the Netflow.v9 and the PSAMP (Packet Sampling) standards are supported.
 Vermont runs on Linux and derivatives of BSD. It can receive and process
 raw packets via PCAP (up to 1 GBit/s) as well as IPFIX/Netflow.v9 flow data.

Package: vermont-dbg
Architecture: any
Section: contrib/debug
Priority: extra
Depends:
 vermont (= ${binary:Version}),
 ${misc:Depends}
Description: Debugging symbols for vermont
 Debugging symbols for the vermont package.
